/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }

.pp-heading {
  margin: 20px 0;
  font: 500 25px/25px "San Francisco", sans-serif;
  color: #333; }

@media only screen and (max-width: 999px) {
  .pp-heading {
    font: 300 15px/12px "San Francisco", sans-serif; }
  .pp-hidden-xs {
    display: none !important; } }

@media only screen and (min-width: 1000px) {
  .pp-hidden-lg {
    display: none !important; } }

/* ---------------------------------------- */
/* M O D A L S    S T Y L E                 */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* F I R S T    M O D A L    S T Y L E      */
/* ---------------------------------------- */
.pp-modal {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-srolling: touch;
  outline: 0; }
  .pp-modal--open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto; }
  .pp-modal__wrap {
    position: relative;
    max-width: 900px;
    margin: 24px auto;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__wrap--open {
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0); }
  .pp-modal__inner {
    position: relative;
    padding: 15px;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    outline: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    *zoom: 1; }
    .pp-modal__inner:after {
      content: " ";
      display: table;
      clear: both; }
  .pp-modal__body {
    position: relative;
    *zoom: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__body:after {
      content: " ";
      display: table;
      clear: both; }
    .pp-modal__body:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 61.8%;
      width: 1px;
      height: 100%;
      background-color: #e6e6e6; }
  .pp-modal__close {
    position: absolute;
    display: block;
    padding: 0;
    width: 22px;
    height: 22px;
    top: 0;
    right: -39px;
    background: none;
    text-indent: -9999%;
    overflow: hidden;
    border: 0 none;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .35;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__close:hover, .pp-modal__close:focus {
      opacity: 1;
      outline: none; }
    .pp-modal__close:before, .pp-modal__close:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      top: 11px;
      background-color: #fff;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .pp-modal__close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 0; }
    .pp-modal__close:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      right: 0; }
  .pp-modal__col {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__col--left {
      position: relative;
      width: 61.64%;
      left: -38.36%;
      padding: 0 53px 0 41px; }
    .pp-modal__col--right {
      position: relative;
      width: 38.36%;
      left: 61.64%;
      padding: 5px 17px; }

@media only screen and (max-width: 999px) {
  .pp-modal__wrap {
    margin: 84px 0; }
  .pp-modal__inner {
    padding: 43px 32px;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .pp-modal__close {
    top: -39px;
    right: 10px; }
  .pp-modal__body:before {
    content: none; }
  .pp-modal__col {
    padding: 0;
    float: none;
    width: 100%;
    left: 0; }
    .pp-modal__col--right {
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e6e6; } }

/* ---------------------------------------- */
/* S T E P    S T Y L E                     */
/* ---------------------------------------- */
.tp-step {
  padding: 0;
  margin: 5px 0 36px;
  list-style: none;
  *zoom: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tp-step:after {
    content: " ";
    display: table;
    clear: both; }
  .tp-step--inside {
    margin: 14px 0 30px 10px; }
  .tp-step--inside2 {
    margin: 14px 0 13px 10px; }
  .tp-step--inside3 {
    margin: 14px 0 54px 10px; }
  .tp-step__item {
    position: relative;
    padding: 0 25px 0 11px;
    float: left;
    font: 400 13px/16px "San Francisco", sans-serif;
    color: #e6e6e6;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .tp-step__item:after {
      content: '';
      position: absolute;
      display: block;
      margin: auto;
      width: 5px;
      height: 8px;
      top: 1px;
      bottom: 0;
      left: -7px;
      background: url(../img/icons/tp-arrow-right.svg) no-repeat; }
    .tp-step__item:first-of-type {
      padding-left: 0; }
      .tp-step__item:first-of-type:after {
        content: none; }
    .tp-step__item:last-of-type {
      padding-right: 0; }
    .tp-step__item--active {
      font: 600 13px/16px "San Francisco", sans-serif;
      color: #333;
      letter-spacing: 0.7px; }
  .tp-step__text--br {
    display: block; }

/* ---------------------------------------- */
/* T I C K E T S    S T Y L E               */
/* ---------------------------------------- */
.st-tickets__name {
  margin: 0;
  padding: 13px 0 18px;
  font: 500 20px/20px "San Francisco", sans-serif;
  letter-spacing: 0.3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  *zoom: 1; }
  .st-tickets__name:after {
    content: " ";
    display: table;
    clear: both; }

.st-tickets__btn {
  display: inline-block;
  margin-top: 29px;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 0 none;
  background-image: -webkit-linear-gradient(45deg, #2e3192 0%, #01bfff 100%);
  background-image: linear-gradient(45deg, #2e3192 0%, #01bfff 100%);
  font: 600 13px/23px "San Francisco", sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.tt-ticket {
  display: table;
  width: 100%;
  margin: 9px 0 0;
  padding: 15px 20px 12px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tt-ticket__item {
    display: table-cell;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .tt-ticket__item--left {
      text-align: left; }
    .tt-ticket__item--right {
      text-align: right; }
  .tt-ticket__name {
    font: 500 17px/23px "San Francisco", sans-serif;
    color: #333;
    letter-spacing: 0.3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__descr {
    margin: 0;
    font: 400 13px/26px "San Francisco", sans-serif;
    color: #333;
    letter-spacing: 0.09px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__quantity {
    padding-right: 7px;
    font: 400 18px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__price {
    display: inline-block;
    margin: 0;
    font: 600 18px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    letter-spacing: 0.8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: -1px 0 0 21px;
    padding: 0;
    width: 27px;
    height: 27px;
    border: 1px solid #e6e6e6;
    background: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .tt-ticket__btn:focus {
      outline: none; }
    .tt-ticket__btn--inc {
      margin-left: 7px;
      overflow: hidden;
      text-indent: -9999%; }
      .tt-ticket__btn--inc:before {
        content: '';
        position: absolute;
        display: block;
        width: 11px;
        height: 2px;
        top: 0;
        bottom: 2px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #e6e6e6;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
    .tt-ticket__btn--dec {
      margin-left: 8px;
      border: 0 none;
      background-color: #3b99d3;
      overflow: hidden;
      text-indent: -9999%; }
      .tt-ticket__btn--dec:before, .tt-ticket__btn--dec:after {
        content: '';
        position: absolute;
        display: block;
        width: 12px;
        height: 2px;
        top: 0;
        bottom: 1px;
        left: 0;
        right: 1px;
        margin: auto;
        background-color: #fff;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .tt-ticket__btn--dec:after {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }

.sl-select {
  padding: 10px 35px 10px 10px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/icons/sl-arrow-down.svg) no-repeat;
  background-position: right 15px top 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sl-select::-ms-expand {
    display: none; }
  .sl-select:focus {
    outline: none; }

.fm-form {
  margin: 0 -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  *zoom: 1; }
  .fm-form:after {
    content: " ";
    display: table;
    clear: both; }
  .fm-form--grey {
    margin: 23px -5px 18px; }
  .fm-form--mail {
    padding: 10px 0; }
  .fm-form__group {
    width: 100%;
    float: left;
    padding: 10px 10px 6px 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .fm-form__group--left {
      padding: 5px;
      width: 215px; }
    .fm-form__group--right {
      padding: 5px;
      width: 215px; }
  .fm-form__label {
    font: 400 13px/15px "San Francisco", sans-serif;
    color: #808080; }
  .fm-form__control {
    padding: 0 14px;
    width: 100%;
    height: 43px;
    border: 1px solid #e6e6e6;
    font: 400 15px/23px "San Francisco", sans-serif;
    color: #333;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    letter-spacing: 0.3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .fm-form__control:-ms-input-placeholder {
      padding: 0 11px;
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control::-moz-placeholder {
      padding: 0 11px;
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control::-webkit-input-placeholder {
      padding: 0 11px;
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control::placeholder {
      padding: 0 11px;
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control--checkout {
      padding: 0 10px; }
      .fm-form__control--checkout:-ms-input-placeholder {
        padding: 0;
        letter-spacing: -1px; }
      .fm-form__control--checkout::-moz-placeholder {
        padding: 0;
        letter-spacing: -1px; }
      .fm-form__control--checkout::-webkit-input-placeholder {
        padding: 0;
        letter-spacing: -1px; }
      .fm-form__control--checkout::placeholder {
        padding: 0;
        letter-spacing: -1px; }
    .fm-form__control[type=submit] {
      cursor: pointer;
      border: 0 none; }
    .fm-form__control--card {
      padding-right: 53px;
      background: url(../img/icons/fm-card.png) no-repeat;
      background-position: right 15px top 50%; }
    .fm-form__control--grey {
      background: #d9d9d9;
      font: 400 13px/23px "San Francisco", sans-serif;
      color: #fff;
      text-transform: uppercase;
      outline: none;
      text-align: center; }
    .fm-form__control--error {
      border-color: #b43838;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .fm-form__control--error:-ms-input-placeholder {
        color: #b43838; }
      .fm-form__control--error::-moz-placeholder {
        color: #b43838; }
      .fm-form__control--error::-webkit-input-placeholder {
        color: #b43838; }
      .fm-form__control--error::placeholder {
        color: #b43838; }
    .fm-form__control:focus {
      outline: none; }
      .fm-form__control:focus:-ms-input-placeholder {
        opacity: 0; }
      .fm-form__control:focus::-moz-placeholder {
        opacity: 0; }
      .fm-form__control:focus::-webkit-input-placeholder {
        opacity: 0; }
      .fm-form__control:focus::placeholder {
        opacity: 0; }

@media only screen and (max-width: 999px) {
  .st-tickets__name {
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6; }
  .tt-ticket {
    margin: 0;
    padding: 20px 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none; } }

.fm-form__group--left {
  padding: 9px 11px;
  width: 234px; }

.fm-form__group--right {
  padding: 2px 11px;
  width: 234px; }

.fm-form__control--code {
  padding: 5px; }
  .fm-form__control--code:-ms-input-placeholder {
    padding: 0 5px; }
  .fm-form__control--code::-moz-placeholder {
    padding: 0 5px; }
  .fm-form__control--code::-webkit-input-placeholder {
    padding: 0 5px; }
  .fm-form__control--code::placeholder {
    padding: 0 5px; }

.pr-profile {
  *zoom: 1; }
  .pr-profile:after {
    content: " ";
    display: table;
    clear: both; }
  .pr-profile__photo {
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pr-profile__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .pr-profile__name {
    padding: 10px 17px;
    float: left;
    font: 300 15px/12px "San Francisco", sans-serif;
    color: #666;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.bd-board {
  padding-left: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .bd-board__heading {
    font: 400 25px/33px "San Francisco", sans-serif;
    color: #333;
    letter-spacing: -0.2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.in-info {
  margin: 11px 0;
  padding-left: 19px;
  font: 300 15px/24px "San Francisco", sans-serif;
  color: #333;
  letter-spacing: 0.1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .in-info--time {
    background: url(../img/icons/bd-time.png) no-repeat scroll 0 7px; }
  .in-info--place {
    background: url(../img/icons/bd-place.png) no-repeat scroll 0 4px; }

.sh-share {
  padding: 15px 0;
  margin: 0 -10px; }
  .sh-share__btn {
    display: inline-block;
    margin: 8px 16px 5px;
    padding: 8px 0;
    width: 212px;
    border: 1px solid #3d5a98;
    font: 600 13px/23px "San Francisco", sans-serif;
    color: #3d5a98;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    text-decoration: none;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .sh-share__btn--vk {
      border: 1px solid #4d75a3;
      background: url(../img/icons/bd-vk.png) no-repeat scroll 15px 50%; }
    .sh-share__btn--fb {
      border: 1px solid #3d5a98;
      background: url(../img/icons/bd-fb.png) no-repeat scroll 15px 50%; }

.tt-cart {
  padding: 17px 0 0 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tt-cart__item {
    padding: 16px 0;
    border-top: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.ct-product {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .ct-product__item {
    display: table-cell;
    vertical-align: middle;
    font: 300 13px/28px "San Francisco", sans-serif;
    color: #333;
    letter-spacing: 0.27px;
    *zoom: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .ct-product__item:after {
      content: " ";
      display: table;
      clear: both; }
  .ct-product__qty {
    margin-right: 5px;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .ct-product__name {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .ct-product__total {
    float: right;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.tl-total {
  padding: 22px 2px 5px;
  *zoom: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tl-total:after {
    content: " ";
    display: table;
    clear: both; }
  .tl-total__name {
    float: left;
    font: 500 17px/23px "San Francisco", sans-serif;
    color: #333;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tl-total__price {
    float: right;
    font: 600 18px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    letter-spacing: 0.4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

@media only screen and (max-width: 999px) {
  .tt-cart {
    margin-top: 20px; }
  .pr-profile__photo {
    width: 85px;
    height: 85px; }
  .pr-profile__name {
    padding: 0 24px;
    font: 300 32px/27px "San Francisco", sans-serif;
    letter-spacing: -0.9px; }
  .bd-board__heading {
    font: 400 53px/25px "San Francisco", sans-serif;
    margin: -28px 0 0 59px;
    letter-spacing: -0.9px; }
  .sh-share {
    padding: 20px 0;
    text-align: center; } }

/* ---------------------------------------- */
/* S E C O N D    M O D A L    S T Y L E    */
/* ---------------------------------------- */
.sh-share--inside {
  padding: 41px 0 0; }

.bt-btn-dark {
  margin: 0 8px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  padding-left: 24px;
  letter-spacing: -0.3px; }
  .bt-btn-dark--fb {
    border: 1px solid #3d5a98;
    background: #3d5a98 url(../img/icons/bd-fb-lg.png) no-repeat scroll 0 50%;
    letter-spacing: -0.2px; }
  .bt-btn-dark--vk {
    margin: 0 11px;
    border: 1px solid #4d75a3;
    background: #4d75a3 url(../img/icons/bd-vk-lg.png) no-repeat scroll 0 50%; }

.dl-delimiter {
  position: relative;
  width: 235px;
  margin: 15px auto 10px;
  overflow: hidden;
  color: #808080;
  font: 400 13px/15px "San Francisco", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .dl-delimiter:before, .dl-delimiter:after {
    content: '';
    position: absolute;
    display: block;
    width: 92px;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #e6e6e6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .dl-delimiter:before {
    left: 0; }
  .dl-delimiter:after {
    right: 0; }

.fm-form__group--col {
  padding: 0 10px 12px 8px;
  width: 50%; }

.fm-form__group--checkout {
  padding: 13px 10px; }

.hh-hint {
  margin-top: 10px;
  font: 400 13px/23px "San Francisco", sans-serif;
  color: #808080;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .hh-hint--center {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 0.2px; }
  .hh-hint--checkout {
    margin-top: 4px; }
  .hh-hint__link {
    font: 600 13px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    text-decoration: none;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .hh-hint__link:hover, .hh-hint__link:focus {
      color: #3d5a98; }
  .hh-hint__text {
    font: 600 13px/23px "San Francisco", sans-serif;
    color: #333; }

.tt-ticket__quantity--black {
  color: #333; }

.tt-ticket__price--black {
  color: #333; }

.tt-cart__item--bottom {
  border-top: 0 none;
  border-bottom: 1px solid #e6e6e6; }

.tt-cart__info {
  margin: 0; }

.tl-total__price--black {
  color: #333; }

.py-payment {
  margin: 0 -8px;
  padding: 76px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .py-payment__icon {
    display: inline-block;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.oh-backdrop {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  z-index: 1040; }
