/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff"); }

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }

.pp-heading {
  margin: 20px 0;
  font: 500 25px/25px "San Francisco", sans-serif;
  color: #333; }
  .pp-heading--center {
    text-align: center; }
  .pp-heading--purchase {
    margin: 12px 0;
    text-align: center;
    letter-spacing: -0.3px; }

@media only screen and (min-width: 1000px) {
  .pp-hidden-lg {
    display: none !important; } }

@media only screen and (max-width: 999px) {
  .pp-heading {
    margin: 57px 0 33px;
    font: 400 31px/33px "San Francisco", sans-serif;
    color: #808080;
    letter-spacing: -0.3px; }
    .pp-heading--purchase {
      margin: 37px 0 42px;
      font: 400 52px/33px "San Francisco", sans-serif; }
  .pp-hidden-xs {
    display: none !important; } }

@media only screen and (max-width: 599px) {
  .pp-heading {
    margin: 20px 0;
    font: 400 30px/36px "San Francisco", sans-serif; }
    .pp-heading--purchase {
      font: 400 25.5px/1 "San Francisco", sans-serif;
      color: #333333; } }

/* ---------------------------------------- */
/* M O D A L S    S T Y L E                 */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* F I R S T    M O D A L    S T Y L E      */
/* ---------------------------------------- */
.pp-modal {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-srolling: touch;
  outline: 0; }
  .pp-modal--open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto; }
  .pp-modal__wrap {
    position: relative;
    max-width: 900px;
    margin: 24px auto;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__wrap--open {
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0); }
  .pp-modal__inner {
    position: relative;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    outline: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    *zoom: 1; }
    .pp-modal__inner:after {
      content: " ";
      display: table;
      clear: both; }
  .pp-modal__head {
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pp-modal__body {
    position: relative;
    padding: 15px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    *zoom: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__body:after {
      content: " ";
      display: table;
      clear: both; }
    .pp-modal__body:before {
      content: '';
      position: absolute;
      display: block;
      top: 15px;
      bottom: 15px;
      left: 61.4%;
      width: 1px;
      background-color: rgba(230, 230, 230, 0.5); }
  .pp-modal__footer {
    padding: 38px 0 0;
    background-color: transparent; }
  .pp-modal__close {
    position: absolute;
    display: block;
    padding: 0;
    width: 22px;
    height: 22px;
    top: 0;
    right: -39px;
    background: none;
    text-indent: -9999%;
    overflow: hidden;
    border: 0 none;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .35;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__close:hover, .pp-modal__close:focus {
      opacity: 1;
      outline: none; }
    .pp-modal__close:before, .pp-modal__close:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      top: 11px;
      background-color: #fff;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .pp-modal__close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 0; }
    .pp-modal__close:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      right: 0; }
  .pp-modal__col {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pp-modal__col--left {
      position: relative;
      width: 61.64%;
      left: -38.36%;
      padding: 0 53px 0 41px; }
    .pp-modal__col--right {
      position: relative;
      width: 38.36%;
      left: 61.64%;
      padding: 5px 17px; }

@media only screen and (max-width: 999px) {
  .pp-modal__wrap {
    max-width: 100%;
    margin: 84px 0; }
  .pp-modal__inner {
    -webkit-border-radius: 0;
            border-radius: 0; }
  .pp-modal__head {
    padding: 43px 32px; }
  .pp-modal__close {
    top: -60px;
    right: 27px;
    width: 37px;
    height: 37px; }
    .pp-modal__close:before, .pp-modal__close:after {
      height: 4px;
      width: 131.4213%;
      top: 16px; }
    .pp-modal__close:before {
      left: -6px; }
    .pp-modal__close:after {
      right: -6px; }
  .pp-modal__body {
    padding: 43px 32px;
    -webkit-border-radius: 0;
            border-radius: 0; }
    .pp-modal__body:before {
      content: none; }
  .pp-modal__col {
    padding: 0;
    float: none;
    width: 100%;
    left: 0; }
    .pp-modal__col--right {
      margin: 0 -32px;
      padding: 0 32px 44px;
      border-bottom: 1px solid rgba(230, 230, 230, 0.5); } }

@media only screen and (max-width: 599px) {
  .pp-modal__head {
    padding: 21px 16px; }
  .pp-modal__body {
    padding: 21px 16px; }
  .pp-modal__wrap {
    margin: 42px 0; }
  .pp-modal__close {
    top: -30px;
    right: 13px;
    width: 18px;
    height: 18px; }
    .pp-modal__close:before, .pp-modal__close:after {
      height: 2px;
      top: 8px; }
    .pp-modal__close:before {
      left: -3px; }
    .pp-modal__close:after {
      right: -3px; } }

/* ---------------------------------------- */
/* S T E P    S T Y L E                     */
/* ---------------------------------------- */
.tp-step {
  padding: 0;
  margin: 5px 0 36px;
  list-style: none;
  *zoom: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tp-step:after {
    content: " ";
    display: table;
    clear: both; }
  .tp-step--inside {
    margin: 14px 0 30px 10px; }
  .tp-step--inside2 {
    margin: 14px 0 13px 10px; }
  .tp-step--inside3 {
    margin: 14px 0 54px 10px; }
  .tp-step__item {
    position: relative;
    padding: 0 25px 0 11px;
    float: left;
    font: 400 13px/16px "San Francisco", sans-serif;
    color: #e6e6e6;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .tp-step__item:after {
      content: '';
      position: absolute;
      display: block;
      margin: auto;
      width: 5px;
      height: 8px;
      top: 1px;
      bottom: 0;
      left: -7px;
      background: url(../img/icons/tp-arrow-right.svg) no-repeat; }
    .tp-step__item:first-of-type {
      padding-left: 0; }
      .tp-step__item:first-of-type:after {
        content: none; }
    .tp-step__item:last-of-type {
      padding-right: 0; }
    .tp-step__item--active {
      font: 600 13px/16px "San Francisco", sans-serif;
      color: #333;
      letter-spacing: 0.7px; }
  .tp-step__text--br {
    display: block; }

/* ---------------------------------------- */
/* T I C K E T S    S T Y L E               */
/* ---------------------------------------- */
.st-tickets__name {
  margin: 0;
  padding: 13px 0 18px;
  font: 500 20px/20px "San Francisco", sans-serif;
  letter-spacing: 0.3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  *zoom: 1; }
  .st-tickets__name:after {
    content: " ";
    display: table;
    clear: both; }

.st-tickets__btn {
  display: inline-block;
  margin-top: 29px;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 0 none;
  background-image: -webkit-linear-gradient(45deg, #2e3192 0%, #01bfff 100%);
  background-image: linear-gradient(45deg, #2e3192 0%, #01bfff 100%);
  font: 600 13px/23px "San Francisco", sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .st-tickets__btn--purchase {
    margin-top: 17px; }

.tt-ticket {
  display: table;
  width: 100%;
  margin: 9px 0 0;
  padding: 15px 20px 12px;
  border: 1px solid rgba(230, 230, 230, 0.5);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tt-ticket__item {
    display: table-cell;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .tt-ticket__item--left {
      text-align: left; }
    .tt-ticket__item--right {
      text-align: right; }
  .tt-ticket__name {
    font: 500 17px/23px "San Francisco", sans-serif;
    color: #333;
    letter-spacing: 0.3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__descr {
    margin: 0;
    font: 400 13px/26px "San Francisco", sans-serif;
    color: #333;
    letter-spacing: 0.09px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__quantity {
    padding-right: 7px;
    font: 400 18px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__price {
    display: inline-block;
    margin: 0;
    font: 600 18px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    letter-spacing: 0.8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tt-ticket__btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: -1px 0 0 21px;
    padding: 0;
    width: 27px;
    height: 27px;
    border: 1px solid rgba(230, 230, 230, 0.5);
    background: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .tt-ticket__btn:focus {
      outline: none; }
    .tt-ticket__btn--inc {
      margin-left: 7px;
      overflow: hidden;
      text-indent: -9999%; }
      .tt-ticket__btn--inc:before {
        content: '';
        position: absolute;
        display: block;
        width: 11px;
        height: 2px;
        top: 0;
        bottom: 2px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #e6e6e6;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
    .tt-ticket__btn--dec {
      margin-left: 8px;
      border: 0 none;
      background-color: #3b99d3;
      overflow: hidden;
      text-indent: -9999%; }
      .tt-ticket__btn--dec:before, .tt-ticket__btn--dec:after {
        content: '';
        position: absolute;
        display: block;
        width: 12px;
        height: 2px;
        top: 0;
        bottom: 1px;
        left: 0;
        right: 1px;
        margin: auto;
        background-color: #fff;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .tt-ticket__btn--dec:after {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }

.sl-select {
  margin-left: 47px;
  padding: 22px 58px 24px 24px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/icons/sl-arrow-down.svg) no-repeat;
  background-position: right 23px top 50%;
  font: 400 31px/23px "San Francisco", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sl-select::-ms-expand {
    display: none; }
  .sl-select:focus {
    outline: none; }

.fm-form {
  margin: 0 -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  *zoom: 1; }
  .fm-form:after {
    content: " ";
    display: table;
    clear: both; }
  .fm-form--grey {
    margin: 23px -5px 18px; }
  .fm-form--mail {
    padding: 10px 0; }
  .fm-form__group {
    width: 100%;
    float: left;
    padding: 2px 10px 6px 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .fm-form__group--left {
      padding: 5px;
      width: 215px; }
    .fm-form__group--right {
      padding: 5px;
      width: 215px; }
  .fm-form__label {
    font: 400 13px/26px "San Francisco", sans-serif;
    color: #808080; }
  .fm-form__control {
    padding: 0 14px;
    width: 100%;
    height: 43px;
    border: 1px solid rgba(230, 230, 230, 0.5);
    font: 400 15px/23px "San Francisco", sans-serif;
    color: #333;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    letter-spacing: 0.3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .fm-form__control:-ms-input-placeholder {
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control::-moz-placeholder {
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control::-webkit-input-placeholder {
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control::placeholder {
      color: #808080;
      opacity: 1;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .fm-form__control--checkout {
      padding: 0 10px; }
      .fm-form__control--checkout:-ms-input-placeholder {
        padding: 0;
        letter-spacing: -1px; }
      .fm-form__control--checkout::-moz-placeholder {
        padding: 0;
        letter-spacing: -1px; }
      .fm-form__control--checkout::-webkit-input-placeholder {
        padding: 0;
        letter-spacing: -1px; }
      .fm-form__control--checkout::placeholder {
        padding: 0;
        letter-spacing: -1px; }
    .fm-form__control[type=submit] {
      cursor: pointer;
      border: 0 none; }
    .fm-form__control--card {
      padding-right: 53px;
      background: url(../img/icons/fm-card.png) no-repeat;
      background-position: right 15px top 50%; }
    .fm-form__control--grey {
      background: #d9d9d9;
      font: 400 13.4px/1.53 "San Francisco", sans-serif;
      letter-spacing: normal;
      color: #fefefe;
      text-transform: uppercase;
      outline: none;
      text-align: center; }
    .fm-form__control--error {
      border-color: #b43838;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .fm-form__control--error:-ms-input-placeholder {
        color: #b43838; }
      .fm-form__control--error::-moz-placeholder {
        color: #b43838; }
      .fm-form__control--error::-webkit-input-placeholder {
        color: #b43838; }
      .fm-form__control--error::placeholder {
        color: #b43838; }
    .fm-form__control:focus {
      outline: none; }
      .fm-form__control:focus:-ms-input-placeholder {
        opacity: 0; }
      .fm-form__control:focus::-moz-placeholder {
        opacity: 0; }
      .fm-form__control:focus::-webkit-input-placeholder {
        opacity: 0; }
      .fm-form__control:focus::placeholder {
        opacity: 0; }

.gc-group-checkbox__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.gc-group-checkbox__text {
  font: 400 15px/23px "San Francisco", sans-serif;
  color: #808080; }

.gc-group-checkbox__link {
  font: 500 15px/23px "San Francisco", sans-serif;
  color: #3b99d3;
  text-decoration: none;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out; }
  .gc-group-checkbox__link:hover, .gc-group-checkbox__link:focus {
    text-decoration: none;
    color: #47b8fd; }

@media only screen and (max-width: 999px) {
  .st-tickets__name {
    margin: 0;
    padding: 58px 0 35px;
    font: 400 31px/33px "San Francisco", sans-serif;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    color: #808080; }
    .st-tickets__name--popup2 {
      padding: 14px 0 31px;
      border: 0 none; }
  .st-tickets__btn {
    margin-top: 69px;
    padding: 33px;
    font: 400 30px/23px "San Francisco", sans-serif; }
  .tt-ticket {
    margin: 0;
    padding: 39px 0 30px;
    -webkit-border-radius: 0;
            border-radius: 0;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none; }
    .tt-ticket__name {
      font: 500 31px/36px "San Francisco", sans-serif;
      letter-spacing: -0.3px; }
    .tt-ticket__descr {
      font: 400 25px/36px "San Francisco", sans-serif;
      letter-spacing: -0.3px; }
    .tt-ticket__price {
      font: 400 27px/36px "San Francisco", sans-serif; } }

@media only screen and (max-width: 599px) {
  .sl-select {
    margin-left: 23px;
    padding: 11px 29px 12px 12px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-position: right 12px top 50%;
    font: 400 15px/12px "San Francisco", sans-serif;
    background-size: 8px 5px; }
  .st-tickets {
    padding: 0; }
    .st-tickets__item {
      padding: 20px 0; }
    .st-tickets__name {
      padding: 17px 0;
      font: 400 15.5px/0.85 "San Francisco", sans-serif; }
    .st-tickets__btn {
      margin-top: 34px;
      padding: 16px;
      width: 100%;
      font: 400 13.5px/0.85 "San Francisco", sans-serif;
      letter-spacing: 0.7px; }
  .tt-ticket {
    padding: 19px 0 15px; }
    .tt-ticket__name {
      font: 500 15.1px/1.21 "San Francisco", sans-serif;
      letter-spacing: normal; }
    .tt-ticket__descr {
      font: 400 15.1px/1.21 "San Francisco", sans-serif;
      letter-spacing: normal; }
    .tt-ticket__price {
      font: 400 15.1px/1.21 "San Francisco", sans-serif;
      letter-spacing: normal; } }

.fm-form__group--left {
  padding: 9px 11px;
  width: 234px; }

.fm-form__group--right {
  padding: 2px 11px;
  width: 234px; }

.fm-form__control--code {
  padding: 5px; }
  .fm-form__control--code:-ms-input-placeholder {
    padding: 0 5px; }
  .fm-form__control--code::-moz-placeholder {
    padding: 0 5px; }
  .fm-form__control--code::-webkit-input-placeholder {
    padding: 0 5px; }
  .fm-form__control--code::placeholder {
    padding: 0 5px; }

.pr-profile {
  *zoom: 1; }
  .pr-profile:after {
    content: " ";
    display: table;
    clear: both; }
  .pr-profile__photo {
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pr-profile__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .pr-profile__name {
    padding: 10px 17px;
    float: left;
    font: 300 15px/12px "San Francisco", sans-serif;
    color: #666;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.bd-board {
  padding-left: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .bd-board__heading {
    font: 400 25px/33px "San Francisco", sans-serif;
    color: #333;
    letter-spacing: -0.2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.in-info {
  margin: 11px 0;
  padding-left: 19px;
  font: 300 15px/24px "San Francisco", sans-serif;
  color: #333;
  letter-spacing: 0.1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .in-info--time {
    background: url(../img/icons/bd-time.png) no-repeat scroll 0 7px; }
  .in-info--place {
    background: url(../img/icons/bd-place.png) no-repeat scroll 0 4px; }

.sh-share {
  padding: 15px 0;
  margin: 0 -10px; }
  .sh-share--purchase {
    margin: 0 -20px;
    padding: 2px 0;
    border-color: rgba(230, 230, 230, 0.5);
    color: #808080; }
  .sh-share__btn {
    display: inline-block;
    vertical-align: top;
    margin: 8px 16px 5px;
    padding: 8px 0;
    width: 212px;
    border: 1px solid rgba(230, 230, 230, 0.5);
    font: 600 13px/23px "San Francisco", sans-serif;
    color: #808080;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    text-decoration: none;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .sh-share__btn--vk {
      border: 1px solid #4d75a3;
      background: url(../img/icons/bd-vk.png) no-repeat scroll 15px 50%; }
    .sh-share__btn--fb {
      border: 1px solid #3d5a98;
      background: url(../img/icons/bd-fb.png) no-repeat scroll 15px 50%; }

.tt-cart {
  padding: 17px 0 0 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tt-cart__item {
    padding: 16px 0;
    border-top: 1px solid rgba(230, 230, 230, 0.5);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.ct-product {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .ct-product__item {
    display: table-cell;
    vertical-align: middle;
    font: 300 13px/28px "San Francisco", sans-serif;
    color: #808080;
    letter-spacing: 0.27px;
    *zoom: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .ct-product__item:after {
      content: " ";
      display: table;
      clear: both; }
  .ct-product__qty {
    margin-right: 5px;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .ct-product__name {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .ct-product__total {
    float: right;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.tl-total {
  padding: 22px 2px 5px;
  *zoom: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tl-total:after {
    content: " ";
    display: table;
    clear: both; }
  .tl-total__name {
    float: left;
    font: 500 17px/23px "San Francisco", sans-serif;
    color: #333;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .tl-total__price {
    float: right;
    font: 600 18px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    letter-spacing: 0.4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

@media only screen and (max-width: 999px) {
  .tt-cart {
    margin-top: 37px;
    padding: 0; }
    .tt-cart__item {
      padding: 37px 0; }
  .pr-profile__photo {
    width: 85px;
    height: 85px; }
  .pr-profile__name {
    padding: 0 24px;
    font: 300 32px/27px "San Francisco", sans-serif;
    letter-spacing: -0.9px; }
  .bd-board__heading {
    font: 400 53px/53px "San Francisco", sans-serif;
    margin: -43px 0 0 59px;
    letter-spacing: -0.9px; }
  .sh-share {
    padding: 40px 0 36px;
    text-align: center; }
    .sh-share__btn {
      margin: 13px 9px 10px;
      padding: 23px 0 23px 96px;
      width: 334px;
      border-width: 2px;
      font: 400 27px/36px "San Francisco", sans-serif;
      text-align: left; }
      .sh-share__btn--fb {
        background: url(../img/icons/bd-fb-lg.png) no-repeat scroll 17px 50%; }
      .sh-share__btn--vk {
        background: url(../img/icons/bd-vk-lg.png) no-repeat scroll 19px 50%; }
    .sh-share--purchase {
      padding: 0; }
  .ct-product__item {
    font: 400 27px/35px "San Francisco", sans-serif; }
  .fm-form--mail {
    padding: 12px 0 0 10px; }
  .fm-form--grey {
    margin: 5px 0; }
  .fm-form--inside {
    margin: 0;
    padding: 120px 0 36px 5px; }
  .fm-form--popup2 {
    padding-bottom: 18px; }
  .fm-form__group {
    padding: 0 7px 43px 0; }
    .fm-form__group--left {
      width: 74%;
      float: left; }
    .fm-form__group--right {
      width: 23%;
      float: right; }
  .fm-form__label {
    display: block;
    padding-bottom: 22px;
    font: 400 27px/16px "San Francisco", sans-serif; }
  .fm-form__control {
    border-width: 2px;
    height: 83px;
    font: 400 27px/41px "San Francisco", sans-serif; }
    .fm-form__control--grey {
      padding: 0;
      height: 83px; }
    .fm-form__control--checkout {
      margin-bottom: 12px;
      padding: 0 22px; }
    .fm-form__control--popup2 {
      padding-left: 13px; }
  .in-info {
    padding-left: 58px;
    font: 300 27px/27px "San Francisco", sans-serif;
    background: url(../img/icons/bd-time-lg.png) no-repeat scroll 0 50%; } }

@media only screen and (max-width: 599px) {
  .pr-profile__photo {
    width: 42px;
    height: 42px; }
  .pr-profile__name {
    padding: 0 12px;
    font: 300 16px/13px "San Francisco", sans-serif; }
  .bd-board {
    padding: 0 0 0 24px; }
    .bd-board__heading {
      margin: -22px 0 0 29px;
      font: 400 26px/27px "San Francisco", sans-serif; }
  .fm-form {
    padding: 10px; }
    .fm-form--inside {
      padding: 20px 0; }
    .fm-form__group {
      padding: 15px 0; }
      .fm-form__group--left {
        width: 74.41860%; }
      .fm-form__group--right {
        width: 23.54651%; }
      .fm-form__group--checkout {
        padding: 0 10px 12px 8px; }
    .fm-form__control {
      border-width: 1px;
      height: 41px;
      font: 400 13px/20px "San Francisco", sans-serif; }
      .fm-form__control--card {
        margin: 0; }
    .fm-form__label {
      padding: 0 0 3px;
      font: 400 13.4px/1.53 "San Francisco", sans-serif;
      letter-spacing: normal; }
  .ct-product__item {
    font: 400 13px/17px "San Francisco", sans-serif; }
  .tt-cart {
    margin-top: 18px; }
    .tt-cart__item {
      padding: 18px 0; }
  .sh-share {
    padding: 10px; }
    .sh-share--purchase {
      margin: 15px -10px;
      padding: 0; }
    .sh-share__btn {
      margin: 15px 10px;
      padding: 10px 20px 10px 70px;
      width: 100%;
      max-width: 250px;
      height: 59px;
      background-size: 30px 30px;
      font: 300 22px/35px "San Francisco", sans-serif; } }

/* ---------------------------------------- */
/* S E C O N D    M O D A L    S T Y L E    */
/* ---------------------------------------- */
.sh-share--inside {
  padding: 41px 0 0;
  margin: 0 -11px; }

.bt-btn-dark {
  margin: 8px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  padding-left: 24px;
  letter-spacing: -0.3px; }
  .bt-btn-dark--fb {
    border: 1px solid #3d5a98;
    background: #3d5a98 url(../img/icons/bd-fb-lg.png) no-repeat scroll 0 50%;
    letter-spacing: -0.2px; }
  .bt-btn-dark--vk {
    border: 1px solid #4d75a3;
    background: #4d75a3 url(../img/icons/bd-vk-lg.png) no-repeat scroll 0 50%; }

.dl-delimiter {
  position: relative;
  width: 235px;
  margin: 15px auto 10px;
  overflow: hidden;
  color: #808080;
  font: 400 13px/15px "San Francisco", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .dl-delimiter:before, .dl-delimiter:after {
    content: '';
    position: absolute;
    display: block;
    width: 92px;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(230, 230, 230, 0.5);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .dl-delimiter:before {
    left: 0; }
  .dl-delimiter:after {
    right: 0; }

.fm-form__group--col {
  padding: 0 10px 12px 8px;
  width: 50%; }

.fm-form__group--checkout {
  padding: 13px 10px; }

.hh-hint {
  margin-top: 10px;
  font: 400 13px/23px "San Francisco", sans-serif;
  color: #808080;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .hh-hint--center {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 0.2px; }
  .hh-hint--checkout {
    margin-top: 4px; }
  .hh-hint--purchase {
    text-align: center; }
  .hh-hint__link {
    font: 600 13px/23px "San Francisco", sans-serif;
    color: #3b99d3;
    text-decoration: none;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .hh-hint__link:hover, .hh-hint__link:focus {
      color: #3d5a98; }
  .hh-hint__text {
    font: 600 13px/23px "San Francisco", sans-serif;
    color: #333; }

.tt-ticket__quantity--black {
  color: #333; }

.tt-ticket__price--black {
  color: #333; }

.tt-cart__item--bottom {
  border-top: 0 none;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5); }

.tt-cart__info {
  margin: 0; }

.tl-total__price--black {
  color: #333; }

.py-payment {
  margin: 0 -8px;
  padding: 76px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .py-payment__icon {
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

@media only screen and (max-width: 999px) {
  .sh-share--inside {
    padding: 0; }
  .bt-btn-dark {
    padding-left: 51px;
    line-height: 41px;
    height: 88px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    text-align: center; }
    .bt-btn-dark--fb {
      background-size: 60px 60px; }
    .bt-btn-dark--vk {
      background-size: 60px 60px;
      background-position: 12px 50%; }
  .hh-hint {
    margin: 23px 0 45px;
    font: 400 27px/30px "San Francisco", sans-serif; }
    .hh-hint--popup2 {
      margin: 45px 0 0;
      font: 500 25px/30px "San Francisco", sans-serif;
      letter-spacing: 0.8px; }
    .hh-hint__text {
      font: 500 27px/30px "San Francisco", sans-serif; }
      .hh-hint__text--br {
        display: block; }
    .hh-hint__link--popup2 {
      font: 500 25px/27px "San Francisco", sans-serif; }
    .hh-hint--purchase {
      margin: 12px 0 25px;
      font: 400 27px/35px "San Francisco", sans-serif; }
  .dl-delimiter {
    margin-top: 30px;
    font: 400 27px/34px "San Francisco", sans-serif; }
  .py-payment {
    padding: 47px 0 0; }
    .py-payment__icon {
      padding: 0 12px; }
    .py-payment__img--visa {
      width: 86px;
      height: 28px; }
    .py-payment__img--mastercard {
      width: 77px;
      height: 45px; }
  .tt-ticket__quantity {
    font: 500 27px/23px "San Francisco", sans-serif;
    padding: 0; }
  .tl-total__name {
    font: 500 32px/23px "San Francisco", sans-serif; }
  .tl-total__price {
    font: 500 32px/23px "San Francisco", sans-serif; }
  .fm-form__group--popup2 {
    padding: 0 10px 29px 8px; }
  .fm-form__group--fullwidth {
    width: 100%; } }

@media only screen and (max-width: 599px) {
  .bt-btn-dark {
    max-width: 134px;
    padding: 16px 5px 5px 27px;
    height: 44px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    line-height: 20px; }
    .bt-btn-dark--fb {
      background-size: 25px 25px; }
    .bt-btn-dark--vk {
      background-size: 25px 25px;
      background-position: 6px 50%; }
  .in-info {
    font: 300 13px/13px "San Francisco", sans-serif;
    padding-left: 29px;
    background-size: 11px 11px; }
  .tl-total__name {
    font: 500 16px/11px "San Francisco", sans-serif; }
  .tl-total__price {
    font: 500 16px/11px "San Francisco", sans-serif; }
  .tt-ticket__quantity {
    font: 500 13px/11px "San Francisco", sans-serif; }
  .hh-hint {
    margin: 11px 0 22px;
    font: 400 13px/15px "San Francisco", sans-serif; }
    .hh-hint__text {
      font: 400 13.5px/0.85 "San Francisco", sans-serif;
      letter-spacing: normal; }
    .hh-hint__link--popup2 {
      font: 400 13.5px/0.85 "San Francisco", sans-serif;
      letter-spacing: normal; }
  .sh-share__btn {
    font: 300 13.4px/0.85 "San Francisco", sans-serif; }
  .dl-delimiter {
    margin: 8px auto;
    font: 400 13px/17px "San Francisco", sans-serif; }
  .py-payment {
    padding: 23px 0 0; }
    .py-payment__img {
      width: 76px;
      height: auto; }
      .py-payment__img--visa {
        width: 43px;
        height: 14px; }
      .py-payment__img--mastercard {
        width: 38px;
        height: 22px; }
    .py-payment__icon {
      padding: 0 6px; }
  .fm-form--popup2 {
    padding: 10px 5px; }
  .fm-form--popup4 {
    padding: 10px 2px; }
  .fm-form__group--popup2 {
    padding: 0 5px 14px 4px; }
  .fm-form__group--checkout {
    padding: 0 10px 12px 8px; } }

/* ---------------------------------------- */
/* F I F T H    M O D A L    S T Y L E      */
/* ---------------------------------------- */
.rc-purchase {
  padding-top: 67px;
  text-align: center; }
  .rc-purchase__icon {
    display: inline-block;
    width: 77px;
    height: 77px;
    background: url(../img/icons/rc-decoder.png) no-repeat; }

.od-order {
  padding: 98px 3px 27px;
  font: 400 13px/13px "San Francisco", sans-serif;
  color: #808080;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.bt-btn-offer {
  padding-top: 44px;
  margin: 8px 2px 8px 18px;
  height: 85px;
  font: 400 13px/16px "San Francisco", sans-serif; }
  .bt-btn-offer--ticket1 {
    background: url(../img/icons/sh-ticket1.png) no-repeat scroll 50% 8px;
    background-size: 30px 30px; }
  .bt-btn-offer--ticket2 {
    background: url(../img/icons/sh-ticket2.png) no-repeat scroll 50% 8px;
    background-size: 26px 26px; }

@media only screen and (max-width: 599px) {
  .pp-modal__body {
    padding: 15px; } }

@media only screen and (max-width: 999px) {
  .rc-purchase__icon {
    width: 152px;
    height: 152px;
    background: url(../img/icons/rc-decoder2.png) no-repeat;
    background-size: contain; }
  .bt-btn-offer {
    margin: 14px 8px;
    padding-top: 27px;
    font: 400 23px/27px "San Francisco", sans-serif; }
    .bt-btn-offer--ticket1 {
      background-position: 20px 50%;
      background-size: auto; }
    .bt-btn-offer--ticket2 {
      background-position: 20px 50%;
      background-size: auto; } }

@media only screen and (max-width: 599px) {
  .rc-purchase {
    padding: 0; }
    .rc-purchase__icon {
      width: 76px;
      height: 76px; }
  .bt-btn-offer {
    margin: 7px 4px;
    padding: 20px 5px 10px 35px;
    height: 43px;
    max-width: 138px;
    font: 400 11.5px/0.8px "San Francisco", sans-serif; }
    .bt-btn-offer--ticket1 {
      background-position: 10px 50%;
      background-size: 16px 16px; }
    .bt-btn-offer--ticket2 {
      background-position: 10px 50%;
      background-size: 14px 14px; } }

/* ---------------------------------------- */
/* C O P Y R I G H T                        */
/* ---------------------------------------- */
.cp-copyright__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 161.5px;
  height: auto; }

.oh-backdrop {
  position: fixed;
  display: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  z-index: 1040; }
