include ../utils/_variables.pug
block variables
doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')/

    // Mobile viewport optimization
    meta(name='viewport' content='width=device-width, initial-scale=1')/

    // build:css css/bundle.min.css
    // Custom CSS 
    link(rel='stylesheet' href='css/style.css')
    // endbuild

  body
    block content
    block modals

    // build:js js/bundle.min.js

    // Custom JavaScript
    script(src='js/main.js')

    // endbuild