#pp-modal3.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
  .pp-modal__wrap
    .pp-modal__inner
      button.pp-modal__close(type='button', aria-hidden='true') X
      .pp-hidden-lg.pp-modal__head
        .pr-profile
          .pr-profile__photo
            img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
          .pr-profile__name Artem Shatilov
        .bd-board
          .bd-board__heading Night Party in Local Bar
      .pp-modal__body
        .pp-hidden-xs.pp-modal__col.pp-modal__col--right
          .pr-profile
            .pr-profile__photo
              img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
            .pr-profile__name Artem Shatilov
          .bd-board
            .bd-board__heading Night Party in Local Bar
            .pp-hidden-xs.bd-board__text.in-info.in-info--time
              | Saturday, 25 March, 23:00
            .bd-board__text.in-info.in-info--place
              | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
            .sh-share
              a.sh-share__btn.sh-share__btn--fb(href='#') Share for 5% off
              a.sh-share__btn.sh-share__btn--vk(href='#') Share for 5% off
          .tt-cart
            .tt-cart__item
              .ct-product
                .ct-product__item
                  .ct-product__qty 2 x
                  .pp-hidden-xs.ct-product__name Ticket type 2
                  .pp-hidden-xs.ct-product__total $19.99
              .ct-product
                .ct-product__item
                  .ct-product__name Service charge
                  .ct-product__total $1.59
            .tt-cart__item.tl-total
              .tl-total__name Total
              .tl-total__price $21.58
        .pp-modal__col.pp-modal__col--left
          ul.pp-hidden-xs.tp-step.tp-step--inside2
            li.tp-step__item Customer information
            li.tp-step__item.tp-step__item--active Ticket information
            li.tp-step__item Payment

          .pp-hidden-lg.pp-heading Ticket information
          form.fm-form.fm-form--mail(method='post', action='')
            .fm-form__group
              label.fm-form__label First Name
              input.fm-form__control(type='text', placeholder='First Name')
            .fm-form__group
              label.fm-form__label Last Name
              input.fm-form__control(type='text', placeholder='Last Name')
            .fm-form__group
              label.fm-form__label Email
              input.fm-form__control(type='email', placeholder='Email')
            .fm-form__group
              label.fm-form__label Phone Number
              input.fm-form__control.fm-form__control--error(type='tel', placeholder='This field can\'t be blank')
            .fm-form__group.gc-group-checkbox
              input#fm-checkbox1.gc-group-checkbox__input(type="checkbox")
              label.gc-group-checkbox__text I agree to the KickCity’s 
                a.gc-group-checkbox__link(href='#' target='_blank') Terms of Use
                |  and 
                a.gc-group-checkbox__link(href='#' target='_blank') Privacy Policy
          a.st-tickets__btn(href='#') Register