#pp-modal5.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
  .pp-modal__wrap
    .pp-modal__inner
      button.pp-modal__close(type='button', aria-hidden='true') X
      .pp-hidden-lg.pp-modal__head
        .pr-profile
          .pr-profile__photo
            img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
          .pr-profile__name Artem Shatilov
        .bd-board
          .bd-board__heading Night Party in Local Bar
      .pp-modal__body
        .pp-hidden-xs.pp-modal__col.pp-modal__col--right
          .pr-profile
            .pr-profile__photo
              img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
            .pr-profile__name Artem Shatilov
          .bd-board
            .bd-board__heading Night Party in Local Bar
            .bd-board__text.in-info.in-info--time
              | Saturday, 25 March, 23:00
            .bd-board__text.in-info.in-info--place
              | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
          .pp-hidden-xs.tt-cart
            .od-order
              | Your order ID: 5s2hgf8bs7ng46dfsa15j41e7s
            .tt-cart__item
              .ct-product
                .ct-product__item
                  .ct-product__qty 2 x
                  .pp-hidden-xs.ct-product__name Ticket type 2
                  .pp-hidden-xs.ct-product__total $19.99
              .ct-product
                .ct-product__item
                  .ct-product__name Service charge
                  .ct-product__total $1.59
            .tt-cart__item.tl-total
              .tl-total__name Total
              .tl-total__price $21.58
        .pp-modal__col.pp-modal__col--left
          .rc-purchase
            i.rc-purchase__icon.ic-purchase
            .pp-heading.pp-heading--purchase You purchased one ticket
            .hh-hint.hh-hint--purchase Your order will be emailed to 
              span.hh-hint__text.hh-hint__text--br artem@kickcityapp.com
          button.st-tickets__btn.st-tickets__btn--purchase(type='submit', href='#') Print it
          .dl-delimiter Or
          .sh-share.sh-share--purchase
            a.sh-share__btn.bt-btn-offer.bt-btn-offer--ticket1(href='#') 
              span.pp-hidden-xs Check your ticket in the  
                span.bt-btn-ticket__text KickCity app
              span.pp-hidden-lg Check in the App
            a.sh-share__btn.bt-btn-offer.bt-btn-offer--ticket2(href='#') 
              span.pp-hidden-xs View your ticket here
              span.pp-hidden-lg View ticket hier
      .pp-modal__footer
        .copyright Powered by 
          span.copyright__name kickcity
