#pp-modal2.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
  .pp-modal__wrap
    .pp-modal__inner
      button.pp-modal__close(type='button', aria-hidden='true') X
      .pp-hidden-lg.pp-modal__head
        .pr-profile
          .pr-profile__photo
            img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
          .pr-profile__name Artem Shatilov
        .bd-board
          .bd-board__heading Night Party in Local Bar
      .pp-modal__body
        .pp-hidden-xs.pp-modal__col.pp-modal__col--right
          .pr-profile
            .pr-profile__photo
              img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
            .pr-profile__name Artem Shatilov
          .bd-board
            .bd-board__heading Night Party in Local Bar
            .bd-board__text.in-info.in-info--time
              | Saturday, 25 March, 23:00
            .bd-board__text.in-info.in-info--place
              | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
            .pp-hidden-xs.sh-share
              a.sh-share__btn.sh-share__btn--fb(href='#') Share for 5% off
              a.sh-share__btn.sh-share__btn--vk(href='#') Share for 5% off
          .tt-cart
            .tt-cart__item
              .ct-product
                .ct-product__item
                  .ct-product__qty 2 x
                  .pp-hidden-xs.ct-product__name Ticket type 2
                  .pp-hidden-xs.ct-product__total $19.99
              .ct-product
                .ct-product__item
                  .ct-product__name Service charge
                  .ct-product__total $1.59
            .tt-cart__item.tl-total
              .tl-total__name Total
              .tl-total__price $21.58
        .pp-modal__col.pp-modal__col--left
          ul.pp-hidden-xs.tp-step.tp-step--inside
            li.tp-step__item.tp-step__item--active Customer information
            li.tp-step__item Ticket information
            li.tp-step__item Payment
          .pp-hidden-lg.st-tickets
            .st-tickets__name.st-tickets__name--popup2.pp-heading Customer information
          .su-signup
            .sh-share.sh-share--inside
              a.sh-share__btn.bt-btn-dark.bt-btn-dark--fb(href='#') Continue with 
                span.pp-hidden-xs Facebook
                span.pp-hidden-lg FB
              a.sh-share__btn.bt-btn-dark.bt-btn-dark--vk(href='#') Continue with VK
            .dl-delimiter.dl-delimiter--popup2 Or
            form.fm-form(method='post', action='')
              .fm-form__group.fm-form__group--col.fm-form__group--popup2
                input.fm-form__control(type='text', placeholder='First Name')
              .fm-form__group.fm-form__group--col.fm-form__group--popup2
                input.fm-form__control(type='text', placeholder='Last Name')
              .fm-form__group.fm-form__group--col.fm-form__group--popup2.fm-form__group--fullwidth
                input.fm-form__control(type='email', placeholder='Email')
              .fm-form__group.fm-form__group--col.fm-form__group--popup2.fm-form__group--fullwidth
                input.fm-form__control(type='password', placeholder='Password')
          a.st-tickets__btn(href='#') Continue
          .hh-hint.hh-hint--center Already have a KickCity account? 
            a.hh-hint__link(href='#') Sign In to continue