+comment("General style")
// Ultra Light
@font-face
  font-family: "San Francisco"
  font-weight: 100
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff")
// Thin
@font-face
  font-family: "San Francisco"
  font-weight: 200
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff")
// Regular
@font-face
  font-family: "San Francisco"
  font-weight: 400
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff")
// Medium
@font-face
  font-family: "San Francisco"
  font-weight: 500
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff")
// Semi Bold
@font-face
  font-family: "San Francisco"
  font-weight: 600
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff")
// Bold
@font-face
  font-family: "San Francisco"
  font-weight: 700
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff")
.pp-heading
  margin: 20px 0
  font: 500 25px/25px $main-font
  color: $tickets-heading-color
  &--center
    text-align: center
  &--purchase
    margin: 12px 0
    text-align: center
    +ls(-0.3)
+r(1000)
  .pp-hidden-lg
    display: none !important
+rx(999)
  .pp-heading
    margin: 57px 0 33px
    font: 400 31px/33px $main-font
    color: $tickets-heading-xs-color
    +ls(-0.3)
    &--purchase
      margin: 37px 0 42px
      font: 400 52px/33px $main-font
  .pp-hidden-xs
    display: none !important

+rx(599)
  .pp-heading
    margin: 20px 0
    font: 400 30px/36px $main-font
+comment("modals style")

+comment('first modal style')
.pp-modal
  position: fixed
  padding: 0
  margin: 0
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1050
  display: none
  overflow: hidden
  -webkit-overflow-srolling: touch
  outline: 0
  &--open
    display: block
    overflow-x: hidden
    overflow-y: auto
  &__wrap
    position: relative
    max-width: 900px
    margin: 24px auto
    // transform: translate(0, 20%)
    transition: transform .3s ease-out
    +box
    &--open
      transform: translate(0, 0)
  &__inner
    position: relative
    background-color: $modal-body-bg
    background-clip: padding-box
    border-radius: 5px
    outline: 0
    +box
    +clr
  &__body
    position: relative
    padding: 15px
    border: 1px solid $modal-head-border-color
    +clr
    +box
    &:before
      content: ''
      position: absolute
      display: block
      top: 15px
      bottom: 15px
      left: 61.4%
      width: 1px
      background-color: $border-default-color
  &__close
    position: absolute
    display: block
    padding: 0
    width: 22px
    height: 22px
    top: 0
    right: -39px
    background: none
    text-indent: -9999%
    overflow: hidden
    border: 0 none
    box-shadow: none
    opacity: .35
    cursor: pointer
    transition: opacity .3s ease-out
    +box
    &:hover,
    &:focus
      opacity: 1
      outline: none
    &:before,
    &:after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 2px
      top: 11px
      background-color: $modal-btn-close-bg
      +box
    &:before
      transform: rotate(45deg)
      left: 0
    &:after
      transform: rotate(-45deg)
      right: 0
  &__col
    float: left
    +box
    &--left
      position: relative
      width: 61.64%
      left: -38.36%
      padding: 0 53px 0 41px
    &--right
      position: relative
      width: 38.36%
      left: 61.64%
      padding: 5px 17px

+rx(999)
  .pp-modal
    &__wrap
      max-width: 100%
      margin: 84px 0
    &__inner
      border-radius: 0
    &__head
      padding: 43px 32px
    &__close
      top: -60px
      right: 27px
      width: 37px
      height: 37px
      &:before,
      &:after
        height: 4px
        width: 131.4213%
        top: 16px
      &:before
        left: -6px
      &:after
        right: -6px
    &__body
      padding: 43px 32px 
      &:before
        content: none
    &__col
      padding: 0
      float: none
      width: 100%
      left: 0
      &--right
        margin: 0 -32px
        padding: 0 32px 44px
        border-bottom: 1px solid $border-default-color
+rx(599)
  .pp-modal
    &__head
      padding: 15px
+comment('step style')
.tp-step
  padding: 0
  margin: 5px 0 36px
  +unstyled
  +clr
  +box
  &--inside
    margin: 14px 0 30px 10px
  &--inside2
    margin: 14px 0 13px 10px
  &--inside3
    margin: 14px 0 54px 10px
  &__item
    position: relative
    padding: 0 25px 0 11px
    float: left
    font: 400 13px/16px $main-font
    color: $step-text-color
    text-transform: uppercase
    text-align: center
    +ls(0.6)
    +box
    &:after
      content: ''
      position: absolute
      display: block
      margin: auto
      width: 5px
      height: 8px
      top: 1px
      bottom: 0
      left: -7px
      background: url(../img/icons/tp-arrow-right.svg) no-repeat
    &:first-of-type
      padding-left: 0
      &:after
        content: none
    &:last-of-type
      padding-right: 0
    &--active
      font: 600 13px/16px $main-font
      color: $step-text-active-color
      +ls(0.7)
  &__text
    &--br
      display: block
+comment('tickets style')
.st-tickets
  &__name
    margin: 0
    padding: 13px 0 18px
    font: 500 20px/20px $main-font
    +ls(0.3)
    +box
    +clr
  &__btn
    display: inline-block
    margin-top: 29px
    padding: 10px
    width: 100%
    border-radius: 5px
    border: 0 none
    background-image: $tickets-btn-bg
    font: 600 13px/23px $main-font
    color: $tickets-btn-color
    text-decoration: none
    text-align: center
    text-transform: uppercase
    cursor: pointer
    +ls(0.5)
    +box
    &:focus
      outline none
    &--purchase
      margin-top: 17px

.tt-ticket
  display: table
  width: 100%
  margin: 9px 0 0
  padding: 15px 20px 12px
  border: 1px solid $border-default-color
  border-radius: 5px
  +box
  &__item
    display: table-cell
    vertical-align: middle
    +box
    &--left
      text-align: left
    &--right
      text-align: right
  &__name
    font: 500 17px/23px $main-font
    color: $tickets-heading-color
    +ls
    +box
  &__descr
    margin: 0
    font: 400 13px/26px $main-font
    color: $ticket-descr-color
    +ls(0.09)
    +box
  &__quantity
    padding-right: 7px
    font: 400 18px/23px $main-font
    color: $ticket-qty-color
    +box
  &__price
    display: inline-block
    margin: 0
    font: 600 18px/23px $main-font
    color: $ticket-price-color
    +ls(0.8)
    +box
  &__btn
    position: relative
    display: inline-block
    vertical-align: top
    margin: -1px 0 0 21px
    padding: 0
    width: 27px
    height: 27px
    border: 1px solid $border-default-color
    background: #fff
    box-shadow: none
    border-radius: 50%
    cursor: pointer
    +box
    &:focus
      outline: none
    &--inc
      margin-left: 7px
      overflow: hidden
      text-indent: -9999%
      &:before
        content: ''
        position: absolute
        display: block
        width: 11px
        height: 2px
        top: 0
        bottom: 2px
        left: 0
        right: 0
        margin: auto
        background-color: $ticket-btn-inc-icon-bg
        +box
    &--dec
      margin-left: 8px
      border: 0 none
      background-color: $ticket-btn-dec-bg
      overflow: hidden
      text-indent: -9999%
      &:before,
      &:after
        content: ''
        position: absolute
        display: block
        width: 12px
        height: 2px
        top: 0
        bottom: 1px
        left: 0
        right: 1px
        margin: auto
        background-color: $ticket-btn-dec-icon-bg
        +box
      &:after
        transform: rotate(90deg)
.sl-select
  margin-left: 47px
  padding: 22px 58px 24px 24px
  border-radius: 10px
  appearance: none
  background: url(../img/icons/sl-arrow-down.svg) no-repeat
  background-position: right 23px top 50%
  font: 400 31px/23px $main-font
  +box
  &::-ms-expand
    display: none
  &:focus
    outline: none
.fm-form
  margin: 0 -10px
  +box
  +clr
  &--grey
    margin: 23px -5px 18px
  &--mail
    padding: 10px 0
  &__group
    width: 100%
    float: left
    padding: 10px 10px 6px 8px
    +box
    &--left
      padding: 5px
      width: 215px
    &--right
      padding: 5px
      width: 215px
  &__label
    font: 400 13px/15px $main-font
    color: $form-label-color
  &__control
    padding: 0 14px
    width: 100%
    height: 43px
    border: 1px solid $border-default-color
    font: 400 15px/23px $main-font
    color: $form-control-color
    border-radius: 6px
    +ls(0.3)
    +box
    +placeholder
      padding: 0 11px
      color: $form-control-placeholder-color
      opacity: 1
      transition: opacity .3s ease-out
    &--checkout
      padding: 0 10px
      +placeholder
        padding: 0
        +ls(-1)
    &[type=submit]
      cursor: pointer
      border: 0 none
      &:focus
        outline none
    &--card
      padding-right: 53px
      background: url(../img/icons/fm-card.png) no-repeat
      background-position: right 15px top 50%
    &--grey
      background: $form-control-submit-bg
      font: 400 13px/23px $main-font
      color: #fefefe
      text-transform: uppercase
      outline: none
      text-align: center
    &--error
      border-color: $form-error-color
      border-radius: 5px
      +placeholder
        color: $form-error-color
    &:focus
      outline: none
      +placeholder
        opacity: 0
.gc-group-checkbox
  &__input
    +box
  &__text
    font: 400 15px/23px $main-font
    color: $checkbox-text-color
  &__link
    font: 500 15px/23px $main-font
    color: $checkbox-link-color
    text-decoration: none
    transition: color .3s ease-out
    &:hover,
    &:focus
      text-decoration: none
      color: $checkbox-link-color-hover
+rx(999)
  .st-tickets
    &__name
      margin: 0
      padding: 58px 0 35px
      font: 400 31px/33px $main-font
      border-bottom: 1px solid $border-default-color
      color: $tickets-heading-xs-color
      &--popup2
        padding: 14px 0 31px
    &__btn
      margin-top: 69px
      padding: 33px
      font: 400 30px/23px $main-font
  .tt-ticket
    margin: 0
    padding: 39px 0 30px
    border-radius: 0
    border:
      top: 0 none
      left: 0 none
      right: 0 none
    &__name
      font: 500 31px/36px $main-font
      +ls(-0.3)
    &__descr
      font: 400 25px/36px $main-font
      +ls(-0.3)
    &__price
      font: 400 27px/36px $main-font
+rx(599)
  .sl-select
    padding: 10px 30px 10px 10px
    margin-left: 10px
    border-radius: 5px
    background-position: right 10px top 50%
    background-size: 12px auto
    font: 400 20px/22px $main-font
  .st-tickets
    padding: 0
    &__item
      padding: 20px 0
    &__name
      padding: 10px 0 25px
    &__btn
      margin: 20px 0
      width: 100%
      padding: 18px
      font: 400 22px/24px $main-font

  .tt-ticket
    &__name
      font: 500 22px/24px $main-font
    &__descr
      font: 400 16px/18px $main-font

.fm-form
  &__group
    &--left
      padding: 9px 11px
      width: 234px
    &--right
      padding: 2px 11px
      width: 234px
  &__control
    &--code
      padding: 5px
      +placeholder
        padding: 0 5px
.pr-profile
  +clr
  &__photo
    width: 30px
    height: 30px
    float: left
    overflow: hidden
    border-radius: 50%
    +box
  &__img
    width: 100%
    height: 100%
    object-fit: cover
  &__name
    padding: 10px 17px
    float: left
    font: 300 15px/12px $main-font
    color: $profile-name-color
    +box
.bd-board
  padding-left: 47px
  +box
  &__heading
    font: 400 25px/33px $main-font
    color: $board-heading-color
    +ls(-0.2)
    +box
.in-info
  margin: 11px 0
  padding-left: 19px
  font: 300 15px/24px $main-font
  color: $board-text-color
  +ls(0.1)
  +box
  &--time
    background: url(../img/icons/bd-time.png) no-repeat scroll 0 7px
  &--place
    background: url(../img/icons/bd-place.png) no-repeat scroll 0 4px
.sh-share
  padding: 15px 0
  margin: 0 -10px
  &__btn
    display: inline-block
    vertical-align: top
    margin: 8px 16px 5px
    padding: 8px 0
    width: 212px
    border: 1px solid $share-btn-border
    font: 600 13px/23px $main-font
    color: $share-btn-color
    border-radius: 7px
    text-decoration: none
    text-align: center
    +box
    &--vk
      border: 1px solid $share-btn-vk
      background: url(../img/icons/bd-vk.png) no-repeat scroll 15px 50%
    &--fb
      border: 1px solid $share-btn-fb
      background: url(../img/icons/bd-fb.png) no-repeat scroll 15px 50%
  &--purchase
    margin: 0 -20px
    padding: 2px 0
    border-color: $share-btn-border
    color: $share-btn-color
.tt-cart
  padding: 17px 0 0 19px
  +box
  &__item
    padding: 16px 0
    border-top: 1px solid $border-default-color
    +box
.ct-product
  display: table
  width: 100%
  +box
  &__item
    display: table-cell
    vertical-align: middle
    font: 300 13px/28px $main-font
    color: $product-item-color
    +ls(0.27)
    +clr
    +box
  &__qty
    margin-right: 5px
    float: left
    +box
  &__name
    float: left
    +box
  &__total
    float: right
    +ls(1)
    +box
.tl-total
  padding: 22px 2px 5px
  +clr
  +box
  &__name
    float: left
    font: 500 17px/23px $main-font
    color: $total-name-color
    +box
  &__price
    float: right
    font: 600 18px/23px $main-font
    color: $total-price-color
    +ls(0.4)
    +box
+rx(999)
  .tt-cart
    margin-top: 37px
    padding: 0
    &__item
      padding: 37px 0
  .pr-profile
    &__photo
      width: 85px
      height: 85px
    &__name
      padding: 0 24px
      font: 300 32px/27px $main-font
      +ls(-0.9)
  .bd-board
    &__heading
      font: 400 53px/53px $main-font
      margin: -43px 0 0 59px
      +ls(-0.9)
  .sh-share
    padding: 40px 0 36px
    text-align: center
    &__btn
      margin: 13px 9px 10px
      padding: 23px 0 23px 96px
      width: 334px
      border-width: 2px
      font: 400 27px/36px $main-font
      text-align: left
      &--fb
        background: url(../img/icons/bd-fb-lg.png) no-repeat scroll 17px 50%
      &--vk
        background: url(../img/icons/bd-vk-lg.png) no-repeat scroll 19px 50%
    &--purchase
      padding: 0

  .ct-product
    &__item
      font: 400 27px/35px $main-font
  .fm-form
    &--mail 
      padding: 12px 0 0 10px
    &--grey
      margin: 5px 0
    &--inside
      margin: 0
      padding: 120px 0 36px 5px
    &__group
      padding: 0 7px 43px 0
      &--left
        width: 74%
        float: left
      &--right
        width: 23%
        float: right
    &__label
      display: block
      padding-bottom: 22px
      font: 400 27px/16px $main-font
    &__control
      padding: 0
      border-width: 2px
      height: 83px
      font: 400 27px/41px $main-font
      &--grey
        padding: 0
        height: 83px
      &--checkout
        margin-bottom: 12px
        padding: 0 22px
  .in-info
    font: 300 27px/27px $main-font
    &--time
    background: url(../img/icons/bd-time-lg.png) no-repeat scroll 0 50%

+rx(599)
  .pr-profile
    &__photo
      width: 45px
      height: 45px
    &__name
      padding: 15px 15px 0
      font: 300 22px/25px $main-font
  .bd-board
    padding: 0 0 0 58px
    &__heading
      margin: 0
      font: 400 32px/36px $main-font
  .fm-form
    padding: 10px
    &--inside
      padding: 20px 0
    &__group
      padding: 15px 0
      &--left
        width: 65%
      &--right
        width: 32%
    &__control
      height: 59px
      padding: 0 15px
    &__label
      font-size: 17px
      line-height: 21px
      padding: 0 0 3px

      font: 300 17px/21px $main-font
  .ct-product
    &__name
      font: 300 22px/24px $main-font
  .tt-cart
    &__item
      padding: 22px 0
  .sh-share
    padding: 10px
    &--purchase
      margin: 15px -10px
    &__btn
      margin: 15px 10px
      padding: 10px 20px 10px 70px
      width: 100%
      max-width: 250px
      height: 59px
      background-size: 30px 30px
      font: 300 22px/35px $main-font
  .fm-form
    &__control
      font: 400 18px/20px $main-font

+comment('second modal style')
.sh-share
  &--inside
    padding: 41px 0 0
    margin: 0 -11px
.bt-btn-dark
  margin: 0 8px
  border-radius: 4px    
  color: $share-btn-dark-color
  padding-left: 24px
  +ls(-0.3)
  &--fb
    border: 1px solid $share-btn-fb
    background: $share-btn-fb url(../img/icons/bd-fb-lg.png) no-repeat scroll 0 50%
    +ls(-0.2)
  &--vk
    margin: 0 11px
    border: 1px solid $share-btn-vk
    background: $share-btn-vk url(../img/icons/bd-vk-lg.png) no-repeat scroll 0 50%
.dl-delimiter
  position: relative
  width: 235px
  margin: 15px auto 10px
  overflow: hidden
  color: $delimiter-color
  font: 400 13px/15px $main-font
  text-transform: uppercase
  text-align: center
  +ls(1.1)
  +box
  &:before,
  &:after
    content: ''
    position: absolute
    display: block
    width: 92px
    height: 1px
    top: 0
    bottom: 0
    margin: auto
    background-color: $delimiter-border
    +box
  &:before
    left: 0
  &:after
    right: 0
.fm-form
  &__group
    &--col
      padding: 0 10px 12px 8px
      width: 50%
    &--checkout
      padding: 13px 10px
.hh-hint
  margin-top: 10px
  font: 400 13px/23px $main-font
  color: $hint-color
  text-align: left
  &--center
    margin-top: 50px
    text-align: center
    +ls(0.2)
  &--checkout
    margin-top: 4px
  &--purchase
    text-align: center
  +box
  &__link
    font: 600 13px/23px $main-font
    color: $hint-link-color
    text-decoration: none
    transition: color .3s ease-out
    +box
    &:hover,
    &:focus
      color: $hint-link-color-hover
  &__text
    font: 600 13px/23px $main-font
    color: $hint-text-color
.tt-ticket
  &__quantity
    &--black
      color: $total-name-color
  &__price
    &--black
      color: $total-name-color
.tt-cart
  &__item
    &--bottom
      border-top: 0 none
      border-bottom: 1px solid $border-default-color
  &__info
    margin: 0
.tl-total
  &__price
    &--black
      color: $total-name-color
.py-payment
  margin: 0 -8px
  padding: 76px 0 0
  +box
  &__icon
    display: inline-block
    padding: 0 8px
    +box
  &__img
+rx(999)
  .sh-share
    &--inside
      padding: 0
  .bt-btn-dark
    padding-left: 51px
    line-height: 41px
    height: 88px  
    border-radius: 10px  
    text-align: center
    &--fb
      background-size: 60px 60px
    &--vk
      background-size: 60px 60px
      background-position: 12px 50%
  .hh-hint
    margin: 23px 0 45px
    font: 400 27px/30px $main-font
    &__text
      font: 500 27px/30px $main-font
      &--br
        display: block
    &--purchase
      margin: 12px 0 25px
      font: 400 27px/35px $main-font
  .dl-delimiter
    margin-top: 30px
    font: 400 27px/34px $main-font
    &--popup2
      margin-top: 22px
      margin-bottom: 14px
  .py-payment
    padding: 47px 0 0
    &__icon
      padding: 0 12px
    &__img
      &--visa
        width: 86px
        height: 28px
      &--mastercard
        width: 77px
        height: 45px
  .tt-ticket
    &__quantity
      font: 500 27px/23px $main-font
      padding: 0
  .tl-total
    &__name
      font: 500 32px/23px $main-font
    &__price
      font: 500 32px/23px $main-font
  .fm-form
    &__group
      &--popup2
        padding: 0 10px 31px 8px
      &--fullwidth
        width: 100%
  .in-info
    padding-left: 58px
+rx(599)
  .in-info
    font: 300 15px/24px $main-font
    padding-left: 40px

  .tl-total
    &__name
      font: 300 24px/27px $main-font
    &__price
      font: 300 24px/27px $main-font
  .hh-hint
    margin: 20px 0 30px
    font: 400 16px/18px $main-font
    &__text
      font: 400 20px/22px $main-font
  
  .dl-delimiter
    margin: 15px auto
    font: 400 20px/22px $main-font
  .py-payment
    &__img
      width: 76px
      height: auto
+comment('fifth modal style')
.rc-purchase 
  padding-top: 67px
  text-align: center
  &__icon
    display: inline-block
    width: 77px
    height: 77px
    background: url(../img/icons/rc-decoder.png) no-repeat
.od-order  
  padding: 98px 3px 27px
  font: 400 13px/13px $main-font
  color: $order-color
  +box
.bt-btn-offer
  padding-top: 44px
  margin: 8px 2px 8px 18px
  height: 85px
  font: 400 13px/16px $main-font
  &--ticket1
    background: url(../img/icons/sh-ticket1.png) no-repeat scroll 50% 8px
    background-size: 30px 30px
  &--ticket2
    background: url(../img/icons/sh-ticket2.png) no-repeat scroll 50% 8px
    background-size: 26px 26px
+rx(599)
  .pp-modal
    &__body
      padding: 15px
+rx(999)
  .rc-purchase 
    &__icon
      width: 152px
      height: 152px
      background: url(../img/icons/rc-decoder2.png) no-repeat
      background-size: contain
  .bt-btn-offer
    margin: 14px 8px
    padding-top: 27px
    font: 400 23px/27px $main-font
    &--ticket1
      background-position: 20px 50%
      background-size: auto
    &--ticket2
      background-position: 20px 50%
      background-size: auto
+rx(599)
  .rc-purchase
    padding: 0
    &__icon
      width: 125px
      height: 125px
  .bt-btn-offer
    margin: 10px 0
    width: 100%
    max-width: 280px



.oh-backdrop
  position: absolute
  display: none
  margin: 0
  padding: 0
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #000
  opacity: .5
  z-index: 1040
