extends base/_layout.pug
block variables

block content
  a.pp-modal-link(href='#pp-modal1').sh-share__btn Modal1
  a.pp-modal-link(href='#pp-modal2').sh-share__btn Modal2
  a.pp-modal-link(href='#pp-modal3').sh-share__btn Modal3
  a.pp-modal-link(href='#pp-modal4').sh-share__btn Modal4
  a.pp-modal-link(href='#pp-modal5').sh-share__btn Modal5
block modals
  #pp-modal1.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
    .pp-modal__wrap
      .pp-modal__inner
        button.pp-modal__close(type='button', aria-hidden='true') X
        .pp-modal__body
          .pp-modal__col.pp-modal__col--right
            .pr-profile
              .pr-profile__photo
                img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
              .pr-profile__name Artem Shatilov
            .bd-board
              .bd-board__heading Night Party in Local Bar
              .pp-hidden-xs.bd-board__text.in-info.in-info--time
                | Saturday, 25 March, 23:00
              .pp-hidden-xs.bd-board__text.in-info.in-info--place
                | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
              .pp-hidden-xs.sh-share
                a.sh-share__btn.sh-share__btn--fb(href='#') Share for 5% off
                a.sh-share__btn.sh-share__btn--vk(href='#') Share for 5% off
            .pp-hidden-xs.tt-cart
              .tt-cart__item
                .ct-product
                  .ct-product__item
                    .ct-product__qty 2 x
                    .pp-hidden-xs.ct-product__name Ticket type 2
                    .pp-hidden-xs.ct-product__total $19.99
                .ct-product
                  .ct-product__item
                    .ct-product__name Service charge
                    .ct-product__total $1.59
              .tt-cart__item.tl-total
                .tl-total__name Total
                .tl-total__price $21.58
          .pp-modal__col.pp-modal__col--left
            ul.pp-hidden-xs.tp-step
              li.tp-step__item.tp-step__item--active Select 
                span.tp-step__text.tp-step__text--br tickets
              li.tp-step__item Customer 
                span.tp-step__text.tp-step__text--br information
              li.tp-step__item Ticket 
                span.tp-step__text.tp-step__text--br information
              li.tp-step__item Payment 
                span.tp-step__text.tp-step__text--br information
            .st-tickets
              .pp-hidden-xs.st-tickets__name.pp-heading Select tickets
              .pp-hidden-lg.st-tickets__name.pp-heading Select Tickets
              .st-tickets__item.tt-ticket
                .tt-ticket__item.tt-ticket__item--left
                  .tt-ticket__name Ticket type 1
                  p.tt-ticket__descr Some information
                .tt-ticket__item.tt-ticket__item--right
                  span.tt-ticket__price $9.99
                  button.pp-hidden-xs.tt-ticket__btn
                  select.pp-hidden-lg.tt-ticket__select.sl-select
                    option.sl-select__option(value='1') 1
                    option.sl-select__option(value='2') 2
                    option.sl-select__option(value='3') 3
                    option.sl-select__option(value='4') 4
                    option.sl-select__option(value='5') 5
              .st-tickets__item.tt-ticket
                .pp-hidden-xs.tt-ticket__item.tt-ticket__item--left
                  .tt-ticket__quantity 2x
                .tt-ticket__item.tt-ticket__item--left
                  .tt-ticket__name Ticket type 2
                  p.tt-ticket__descr Some information
                .tt-ticket__item.tt-ticket__item--right
                  span.tt-ticket__price $19.99
                  button.pp-hidden-xs.tt-ticket__btn.tt-ticket__btn--inc -
                  button.pp-hidden-xs.tt-ticket__btn.tt-ticket__btn--dec +
                  select.pp-hidden-lg.tt-ticket__select.sl-select
                    option.sl-select__option(value='1') 1
                    option.sl-select__option(value='2') 2
                    option.sl-select__option(value='3') 3
                    option.sl-select__option(value='4') 4
                    option.sl-select__option(value='5') 5
              .pp-hidden-lg.sh-share
                a.sh-share__btn.sh-share__btn--fb(href='#') Share for 5% off
                a.sh-share__btn.sh-share__btn--vk(href='#') Share for 5% off
              form.pp-hidden-lg.fm-form.fm-form--grey(method='post', action='')
                .fm-form__group.fm-form__group--left
                  input.fm-form__control(type='text', placeholder='Discount Code')
                .fm-form__group.fm-form__group--right
                  input.fm-form__control.fm-form__control--grey(type='submit', value='apply')
            a.st-tickets__btn(href='#') Continue
  #pp-modal2.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
    .pp-modal__wrap
      .pp-modal__inner
        button.pp-modal__close(type='button', aria-hidden='true') X
        .pp-modal__body
          .pp-modal__col.pp-modal__col--right
            .pr-profile
              .pr-profile__photo
                img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
              .pr-profile__name Artem Shatilov
            .bd-board
              .bd-board__heading Night Party in Local Bar
              .pp-hidden-xs.bd-board__text.in-info.in-info--time
                | Saturday, 25 March, 23:00
              .pp-hidden-xs.bd-board__text.in-info.in-info--place
                | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
              .pp-hidden-xs.sh-share
                a.sh-share__btn.sh-share__btn--fb(href='#') Share for 5% off
                a.sh-share__btn.sh-share__btn--vk(href='#') Share for 5% off
            .pp-hidden-xs.tt-cart
              .tt-cart__item
                .ct-product
                  .ct-product__item
                    .ct-product__qty 2 x
                    .pp-hidden-xs.ct-product__name Ticket type 2
                    .pp-hidden-xs.ct-product__total $19.99
                .ct-product
                  .ct-product__item
                    .ct-product__name Service charge
                    .ct-product__total $1.59
              .tt-cart__item.tl-total
                .tl-total__name Total
                .tl-total__price $21.58
          .pp-modal__col.pp-modal__col--left
            ul.pp-hidden-xs.tp-step.tp-step--inside
              li.tp-step__item.tp-step__item--active Customer information
              li.tp-step__item Ticket information
              li.tp-step__item Payment
            .pp-hidden-xs.su-signup
              .sh-share.sh-share--inside
                a.sh-share__btn.bt-btn-dark.bt-btn-dark--fb(href='#') Continue with Facebook
                a.sh-share__btn.bt-btn-dark.bt-btn-dark--vk(href='#') Continue with VK
              .dl-delimiter Or
              form.pp-hidden-xs.fm-form(method='post', action='')
                .fm-form__group.fm-form__group--col
                  input.fm-form__control(type='text', placeholder='First Name')
                .fm-form__group.fm-form__group--col
                  input.fm-form__control(type='text', placeholder='Last Name')
                .fm-form__group.fm-form__group--col
                  input.fm-form__control(type='email', placeholder='Email')
                .fm-form__group.fm-form__group--col
                  input.fm-form__control(type='password', placeholder='Password')
            .pp-hidden-lg.st-tickets
              .st-tickets__name.pp-heading Select tickets
              .st-tickets__item.tt-ticket
                .tt-ticket__item.tt-ticket__item--left
                  .tt-ticket__name Ticket type 1
                  p.tt-ticket__descr Some information
                .tt-ticket__item.tt-ticket__item--right
                  span.tt-ticket__price $9.99
                  button.pp-hidden-xs.tt-ticket__btn
                  select.pp-hidden-lg.tt-ticket__select.sl-select
                    option.sl-select__option(value='1') 1
                    option.sl-select__option(value='2') 2
                    option.sl-select__option(value='3') 3
                    option.sl-select__option(value='4') 4
                    option.sl-select__option(value='5') 5
              .st-tickets__item.tt-ticket
                .pp-hidden-xs.tt-ticket__item.tt-ticket__item--left
                  .tt-ticket__quantity 2 x
                .tt-ticket__item.tt-ticket__item--left
                  .tt-ticket__name Ticket type 2
                  p.tt-ticket__descr Some information
                .tt-ticket__item.tt-ticket__item--right
                  span.tt-ticket__price $19.99
                  button.pp-hidden-xs.tt-ticket__btn.tt-ticket__btn--inc -
                  button.pp-hidden-xs.tt-ticket__btn.tt-ticket__btn--dec +
                  select.pp-hidden-lg.tt-ticket__select.sl-select
                    option.sl-select__option(value='1') 1
                    option.sl-select__option(value='2') 2
                    option.sl-select__option(value='3') 3
                    option.sl-select__option(value='4') 4
                    option.sl-select__option(value='5') 5
              form.pp-hidden-lg.fm-form.fm-form--inside(method='post', action='')
                .fm-form__group.fm-form__group--left
                  input.fm-form__control(type='text', placeholder='Discount Code')
                .fm-form__group.fm-form__group--right
                  input.fm-form__control.fm-form__control--grey(value='apply')
              .pp-hidden-lg.tt-cart
                .tt-cart__info.in-info.in-info--time
                  | Saturday, 25 March, 23:00
                .st-tickets
                  .st-tickets__item.tt-ticket
                    .tt-ticket__item.tt-ticket__item--left
                      .tt-ticket__quantity.tt-ticket__quantity--black 1 x
                    .tt-ticket__item.tt-ticket__item--left
                      .tt-ticket__name Ticket type 2
                      p.tt-ticket__descr Some information
                    .tt-ticket__item.tt-ticket__item--right
                      span.tt-ticket__price.tt-ticket__price--black $9.99
                .tt-cart__item.tt-cart__item--bottom
                  .ct-product
                    .ct-product__item
                      .ct-product__name Subtotal
                    .ct-product__item
                      .ct-product__total $9.99
                  .ct-product
                    .ct-product__item
                      .ct-product__name Service charge
                    .ct-product__item
                      .ct-product__total $0.80
                .tt-cart__item.tt-cart__item--bottom.tl-total
                  .tl-total__name Total
                  .tl-total__price.tl-total__price--black $10.79  
            a.st-tickets__btn(href='#') Continue
            .pp-hidden-xs.hh-hint.hh-hint--center Already have a KickCity account? 
              a.hh-hint__link(href='#') Sign In to continue
  #pp-modal3.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
    .pp-modal__wrap
      .pp-modal__inner
        button.pp-modal__close(type='button', aria-hidden='true') X
        .pp-modal__body
          .pp-modal__col.pp-modal__col--right
            .pr-profile
              .pr-profile__photo
                img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
              .pr-profile__name Artem Shatilov
            .bd-board
              .bd-board__heading Night Party in Local Bar
              .pp-hidden-xs.bd-board__text.in-info.in-info--time
                | Saturday, 25 March, 23:00
              .pp-hidden-xs.bd-board__text.in-info.in-info--place
                | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
              .pp-hidden-xs.sh-share
                a.sh-share__btn.sh-share__btn--fb(href='#') Share for 5% off
                a.sh-share__btn.sh-share__btn--vk(href='#') Share for 5% off
            .pp-hidden-xs.tt-cart
              .tt-cart__item
                .ct-product
                  .ct-product__item
                    .ct-product__qty 2 x
                    .pp-hidden-xs.ct-product__name Ticket type 2
                    .pp-hidden-xs.ct-product__total $19.99
                .ct-product
                  .ct-product__item
                    .ct-product__name Service charge
                    .ct-product__total $1.59
              .tt-cart__item.tl-total
                .tl-total__name Total
                .tl-total__price $21.58
          .pp-modal__col.pp-modal__col--left
            ul.pp-hidden-xs.tp-step.tp-step--inside2
              li.tp-step__item Customer information
              li.tp-step__item.tp-step__item--active Ticket information
              li.tp-step__item Payment

            .pp-hidden-lg.pp-heading Ticket information
            form.fm-form.fm-form--mail(method='post', action='')
              .fm-form__group
                label.fm-form__label First Name
                input.fm-form__control(type='text', placeholder='First Name')
              .fm-form__group
                label.fm-form__label Last Name
                input.fm-form__control(type='text', placeholder='Last Name')
              .fm-form__group
                label.fm-form__label Email
                input.fm-form__control(type='email', placeholder='Email')
              .fm-form__group
                label.fm-form__label Phone Number
                input.fm-form__control.fm-form__control--error(type='tel', placeholder='This field can\'t be blank')
            a.st-tickets__btn(href='#') Register
  #pp-modal4.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
    .pp-modal__wrap
      .pp-modal__inner
        button.pp-modal__close(type='button', aria-hidden='true') X
        .pp-modal__body
          .pp-modal__col.pp-modal__col--right
            .pr-profile
              .pr-profile__photo
                img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
              .pr-profile__name Artem Shatilov
            .bd-board
              .bd-board__heading Night Party in Local Bar
              .pp-hidden-xs.bd-board__text.in-info.in-info--time
                | Saturday, 25 March, 23:00
              .pp-hidden-xs.bd-board__text.in-info.in-info--place
                | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
              form.pp-hidden-xs.fm-form.fm-form--grey(method='post', action='')
                .fm-form__group.fm-form__group--left
                  input.fm-form__control.fm-form__control--code(type='text', placeholder='Discount Code')
                .fm-form__group.fm-form__group--right
                  input.fm-form__control.fm-form__control--grey(type='submit', value='apply')
            .pp-hidden-xs.tt-cart
              .tt-cart__item
                .ct-product
                  .ct-product__item
                    .ct-product__qty 2 x
                    .pp-hidden-xs.ct-product__name Ticket type 2
                    .pp-hidden-xs.ct-product__total $19.99
                .ct-product
                  .ct-product__item
                    .ct-product__name Service charge
                    .ct-product__total $1.59
              .tt-cart__item.tl-total
                .tl-total__name Total
                .tl-total__price $21.58
          .pp-modal__col.pp-modal__col--left
            ul.pp-hidden-xs.tp-step.tp-step--inside3
              li.tp-step__item Customer information
              li.tp-step__item Ticket information
              li.tp-step__item.tp-step__item--active Payment
            .pp-hidden-xs.pp-heading Checkout
            .pp-hidden-lg.pp-heading Payment information
            form.fm-form(method='post', action='')
              .fm-form__group.fm-form__group--checkout 
                input.fm-form__control.fm-form__control--checkout.fm-form__control--card(type='text', placeholder='Card Number')
              .fm-form__group.fm-form__group--col
                input.fm-form__control.fm-form__control--checkout(type='text', placeholder='Expiry')
              .fm-form__group.fm-form__group--col
                input.fm-form__control.fm-form__control--checkout(type='email', placeholder='CCV')

            .hh-hint.hh-hint--checkout The order confirmation will be emailed to 
              span.hh-hint__text artem@kickcityapp.com
            button.st-tickets__btn(type='submit', href='#') Purchase
            .py-payment
              .py-payment__icon
                img.py-payment__img.py-payment__img--visa(src='img/icons/py-visa.png' alt='visa' width='73' height='24')
              .py-payment__icon
                img.py-payment__img.py-payment__img--mastercard(src='img/icons/py-mastercard.png' alt='mastercard'  width='44' height='26')

  #pp-modal5.pp-modal(tabindex='-1', role='dialog', aria-hidden='true')
    .pp-modal__wrap
      .pp-modal__inner
        button.pp-modal__close(type='button', aria-hidden='true') X
        .pp-hidden-lg.pp-modal__head
          .pr-profile
            .pr-profile__photo
              img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
            .pr-profile__name Artem Shatilov
          .bd-board
            .bd-board__heading Night Party in Local Bar
        .pp-modal__body
          .pp-hidden-xs.pp-modal__col.pp-modal__col--right
            .pr-profile
              .pr-profile__photo
                img.pr-profile__img(src='img/photo.jpg', alt='Artem Shatilov')
              .pr-profile__name Artem Shatilov
            .bd-board
              .bd-board__heading Night Party in Local Bar
              .bd-board__text.in-info.in-info--time
                | Saturday, 25 March, 23:00
              .bd-board__text.in-info.in-info--place
                | ‘Mishka Bar’, Nab. Reki Fontanki 40, Saint-Petersburg
            .pp-hidden-xs.tt-cart
              .od-order
                | Your order ID: 5s2hgf8bs7ng46dfsa15j41e7s
              .tt-cart__item
                .ct-product
                  .ct-product__item
                    .ct-product__qty 2 x
                    .pp-hidden-xs.ct-product__name Ticket type 2
                    .pp-hidden-xs.ct-product__total $19.99
                .ct-product
                  .ct-product__item
                    .ct-product__name Service charge
                    .ct-product__total $1.59
              .tt-cart__item.tl-total
                .tl-total__name Total
                .tl-total__price $21.58
          .pp-modal__col.pp-modal__col--left
            .rc-purchase
              i.rc-purchase__icon.ic-purchase
              .pp-heading.pp-heading--purchase You purchased one ticket
              .hh-hint.hh-hint--purchase Your order will be emailed to 
                span.hh-hint__text.hh-hint__text--br artem@kickcityapp.com
            button.st-tickets__btn.st-tickets__btn--purchase(type='submit', href='#') Print it
            .dl-delimiter Or
            .sh-share.sh-share--purchase
              a.sh-share__btn.bt-btn-offer.bt-btn-offer--ticket1(href='#') Check your ticket in the  
                .bt-btn-ticket__text KickCity app
              a.sh-share__btn.bt-btn-offer.bt-btn-offer--ticket2(href='#') View yout ticket here