extends base/_layout.pug
block variables

block content
  a.pp-modal-link(href='#pp-modal1').sh-share__btn Modal1
  a.pp-modal-link(href='#pp-modal2').sh-share__btn Modal2
  a.pp-modal-link(href='#pp-modal3').sh-share__btn Modal3
  a.pp-modal-link(href='#pp-modal4').sh-share__btn Modal4
  a.pp-modal-link(href='#pp-modal5').sh-share__btn Modal5
block modals
  include partials/_popup1.pug
  include partials/_popup2.pug
  include partials/_popup3.pug
  include partials/_popup4.pug
  include partials/_popup5.pug

